<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application
        android:label="Batalla de Gorilas"
        android:icon="@mipmap/ic_launcher"
        android:theme="@style/Theme.LauncherActivity"
        android:allowBackup="true">
        <meta-data
            android:name="asset_statements"
            android:value='[{"relation":["delegate_permission/common.handle_all_urls"],"target":{"namespace":"web","site":"https://ralr2024.github.io"}}]' />
        <activity
            android:name="com.ralr2024.gorilas.LauncherActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="https" android:host="ralr2024.github.io" android:pathPrefix="/GameGozila" />
            </intent-filter>
        </activity>
    </application>
</manifest>
